{% if priority == "" and project != "" %}|^^{{ project }}
{% endif -%}
{% if priority != "" and project == "" %}|^^`{{ priority }}`
{% endif -%}
{% if priority != "" and project != "" %}|^^`{{ priority }}` {{ project }}
{% endif -%}
|^^`{{ title }}`
{width:9 *}
{{ receipt_date_index_format }}受付時刻 |{{ receipt_date_format }}{{ receipt_date }}
{{ deadline_index_format }}締切時刻 |{{ deadline_format }}{{ deadline }}
{{ duration_index_format}}所要時間 |{{ duration_format }}{{ duration -}}
{% if body != "" %}
{{ body_index_format }}メモ |{{ body_format }}{{ body }}{% endif -%}